In [1]:
pip install pymysql

Requirement already satisfied: pymysql in c:\users\annad\anaconda3\lib\site-packages (1.1.1)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
from sqlalchemy import create_engine

# 1. Read CSV into pandas
df = pd.read_csv(r"C:\Users\annad\OneDrive\Documents\Pipline_HP\House_Price_Pred\house_prices.csv")

# 2. Connect to MySQL
engine = create_engine("mysql+pymysql://root:root@localhost:3306/terratrend")

# 3. Write to MySQL
df.to_sql('TerraTrend', engine, if_exists='replace', index=False)

C:\Users\annad\AppData\Local\Temp\ipykernel_17376\677223075.py:11: UserWarning: The provided table name 'TerraTrend' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df.to_sql('TerraTrend', engine, if_exists='replace', index=False)

187531

In [4]:
import os

# Set JAVA_HOME - use raw string or double backslash on Windows
os.environ["JAVA_HOME"] = r"C:\Program Files\Java\jdk-17.0.2"

from pyspark.sql import SparkSession

# Initialize SparkSession with correct MySQL connector JAR path
spark = SparkSession.builder \
    .appName("ReadMySQL") \
    .master("local[*]") \
    .config("spark.jars", r"C:\spark\spark-4.0.0-bin-hadoop3\jars\mysql-connector-j-9.4.0.jar") \
    .config("spark.driver.extraClassPath", r"C:\spark\spark-4.0.0-bin-hadoop3\jars\mysql-connector-j-9.4.0.jar") \
    .getOrCreate()

# Connection properties
jdbc_url = "jdbc:mysql://localhost:3306/terratrend"
connection_props = {
    "user": "root",
    "password": "root",
    "driver": "com.mysql.cj.jdbc.Driver"
}

# Fetch data from MySQL into Spark DataFrame
df_spark = spark.read.jdbc(
    url=jdbc_url,
    table="terratrend",
    properties=connection_props
)

df_spark.show()   # Displays the fetched table in PySpark

+-----+--------------------+--------------------+-----------------+-----------------+--------+-----------+-------------+---------------+------------+--------------+------------+--------------------+--------------------+--------+-------+-----------+--------------------+----------+----------+---------+
|Index|               Title|         Description|Amount(in rupees)|Price (in rupees)|location|Carpet Area|       Status|          Floor| Transaction|    Furnishing|      facing|         overlooking|             Society|Bathroom|Balcony|Car Parking|           Ownership|Super Area|Dimensions|Plot Area|
+-----+--------------------+--------------------+-----------------+-----------------+--------+-----------+-------------+---------------+------------+--------------+------------+--------------------+--------------------+--------+-------+-----------+--------------------+----------+----------+---------+
|    0|1 BHK Ready to Oc...|Bhiwandi, Thane h...|          42 Lac |           6000.0|   thane|   500 sqft|Ready to Move|   10 out of 11|      Resale|   Unfurnished|        NULL|                NULL|Srushti Siddhi Ma...|       1|      2|       NULL|                NULL|      NULL|      NULL|     NULL|
|    1|2 BHK Ready to Oc...|One can find this...|          98 Lac |          13799.0|   thane|   473 sqft|Ready to Move|    3 out of 22|      Resale|Semi-Furnished|        East|         Garden/Park|         Dosti Vihar|       2|   NULL|     1 Open|            Freehold|      NULL|      NULL|     NULL|
|    2|2 BHK Ready to Oc...|Up for immediate ...|         1.40 Cr |          17500.0|   thane|   779 sqft|Ready to Move|   10 out of 29|      Resale|   Unfurnished|        East|         Garden/Park|Sunrise by Kalpataru|       2|   NULL|  1 Covered|            Freehold|      NULL|      NULL|     NULL|
|    3|1 BHK Ready to Oc...|This beautiful 1 ...|          25 Lac |             NULL|   thane|   530 sqft|Ready to Move|     1 out of 3|      Resale|   Unfurnished|        NULL|                NULL|                NULL|       1|      1|       NULL|                NULL|      NULL|      NULL|     NULL|
|    4|2 BHK Ready to Oc...|This lovely 2 BHK...|         1.60 Cr |          18824.0|   thane|   635 sqft|Ready to Move|   20 out of 42|      Resale|   Unfurnished|        West|Garden/Park, Main...|TenX Habitat Raym...|       2|   NULL|  1 Covered|Co-operative Society|      NULL|      NULL|     NULL|
|    5|1 BHK Ready to Oc...|Creatively planne...|          45 Lac |           6618.0|   thane|       NULL|Ready to Move|     2 out of 7|      Resale|   Unfurnished|        East|Garden/Park, Main...|        Virat Aangan|       1|      1|       NULL|Co-operative Society|  680 sqft|      NULL|     NULL|
|    6|1 BHK Ready to Oc...|This magnificent ...|        16.5 Lac |           2538.0|   thane|   550 sqft|Ready to Move|     4 out of 5|      Resale|   Unfurnished|        NULL|                NULL|                NULL|       1|   NULL|       NULL|                NULL|      NULL|      NULL|     NULL|
|    7|1 BHK Ready to Oc...|Creatively planne...|          60 Lac |          10435.0|   thane|       NULL|Ready to Move|Ground out of 7|      Resale|     Furnished|        NULL|                NULL|                NULL|       1|   NULL|       NULL|                NULL|  575 sqft|      NULL|     NULL|
|    8|1 BHK Ready to Oc...|Discover this imm...|          60 Lac |          10000.0|   thane|       NULL|Ready to Move|Ground out of 2|      Resale|     Furnished|        NULL|                NULL|                NULL|       1|   NULL|       NULL|Co-operative Society|  600 sqft|      NULL|     NULL|
|    9|3 BHK Ready to Oc...|One can find this...|         1.60 Cr |          11150.0|   thane|   900 sqft|Ready to Move|    3 out of 27|      Resale|   Unfurnished|        East|         Garden/Park|         Pride Palms|       3|      1|  1 Covered|            Freehold|      NULL|      NULL|     NULL|
|   10|3 BHK Ready to Oc...|Up for immediate ...|         1.40 Cr |          12174.0|   thane|   950 sqft|Ready to Move|    6 out of 20|      Resale|Semi-Furnished|        NULL|           Main Road|       Cosmos Lounge|       2|   NULL|     1 Open|Co-operative Society|      NULL|      NULL|     NULL|
|   11|2 BHK Ready to Oc...|2 BHK, Multistore...|         1.36 Cr |          11674.0|   thane|       NULL|Ready to Move|   16 out of 24|      Resale|Semi-Furnished|        NULL|                NULL|     Regency Heights|       2|   NULL|       NULL|                NULL| 1165 sqft|      NULL|     NULL|
|   12|2 BHK Ready to Oc...|2 BHK, Multistore...|         1.35 Cr |          15995.0|   thane|       NULL|Ready to Move|    8 out of 20|      Resale|Semi-Furnished|        NULL|                NULL|     Regency Heights|       2|   NULL|       NULL|                NULL|  844 sqft|      NULL|     NULL|
|   13|4 BHK Ready to Oc...|Creatively planne...|         4.25 Cr |          17526.0|   thane|  1820 sqft|Ready to Move|   18 out of 27|      Resale|Semi-Furnished|        East|         Garden/Park|                NULL|       4|      1|  2 Covered|            Freehold|      NULL|      NULL|     NULL|
|   14|1 BHK Ready to Oc...|Discover this imm...|          75 Lac |          11538.0|   thane|       NULL|Ready to Move|     2 out of 3|      Resale|     Furnished|        NULL|                NULL|                NULL|       1|   NULL|       NULL|                NULL|  650 sqft|      NULL|     NULL|
|   15|2 BHK Ready to Oc...|Kasarvadavali, Th...|          90 Lac |          10000.0|   thane|   675 sqft|Ready to Move|   10 out of 16|New Property|   Unfurnished|North - East|Garden/Park, Main...|  Puraniks Tokyo Bay|       2|      1|  1 Covered|            Freehold|      NULL|      NULL|     NULL|
|   16|1 BHK Ready to Oc...|Have a look at th...|          37 Lac |           5736.0|   thane|   647 sqft|Ready to Move|     5 out of 7|New Property|   Unfurnished|        East|         Garden/Park|         Green Woods|       1|      2|       NULL|            Freehold|      NULL|      NULL|     NULL|
|   17|1 BHK Ready to Oc...|This magnificent ...|          35 Lac |           6481.0|   thane|       NULL|Ready to Move|     4 out of 5|      Resale|   Unfurnished|        NULL|                NULL|                NULL|       1|   NULL|       NULL|                NULL|  540 sqft|      NULL|     NULL|
|   18|2 BHK Ready to Oc...|Discover this imm...|          90 Lac |          11250.0|   thane|   600 sqft|Ready to Move|   20 out of 28|      Resale|   Unfurnished|North - East|Pool, Garden/Park...|Everest World Lav...|       2|   NULL| 66 Covered|Co-operative Society|      NULL|      NULL|     NULL|
|   19|1 BHK Ready to Oc...|This lovely 1 BHK...|          35 Lac |           6731.0|   thane|       NULL|Ready to Move|     3 out of 3|      Resale|Semi-Furnished|        NULL|                NULL|                NULL|       1|      1|     1 Open|                NULL|  520 sqft|      NULL|     NULL|
+-----+--------------------+--------------------+-----------------+-----------------+--------+-----------+-------------+---------------+------------+--------------+------------+--------------------+--------------------+--------+-------+-----------+--------------------+----------+----------+---------+
only showing top 20 rows

In [6]:
df_spark.printSchema()

root
 |-- Index: long (nullable = true)
 |-- Title: string (nullable = true)
 |-- Description: string (nullable = true)
 |-- Amount(in rupees): string (nullable = true)
 |-- Price (in rupees): double (nullable = true)
 |-- location: string (nullable = true)
 |-- Carpet Area: string (nullable = true)
 |-- Status: string (nullable = true)
 |-- Floor: string (nullable = true)
 |-- Transaction: string (nullable = true)
 |-- Furnishing: string (nullable = true)
 |-- facing: string (nullable = true)
 |-- overlooking: string (nullable = true)
 |-- Society: string (nullable = true)
 |-- Bathroom: string (nullable = true)
 |-- Balcony: string (nullable = true)
 |-- Car Parking: string (nullable = true)
 |-- Ownership: string (nullable = true)
 |-- Super Area: string (nullable = true)
 |-- Dimensions: double (nullable = true)
 |-- Plot Area: double (nullable = true)